@import 'default.css';
@import 'fonts.css';

.main-header, .main-header-content, .content, .site-footer {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 3%;
}

.main-header-background {
  background: #fff;
  margin-bottom: 5rem;
}

.main-header-content {
  text-align: center;
}

.site-footer {
  font-size: 1.25rem;
}

.brand {
  text-align: center;
  position: relative;
  margin: 1em 0 0.5em;
}

.brand::before, .brand::after {
  bottom: 0.25rem;
}

/*
.brand::before {
  content: '';
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/

.brand::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 2px solid color(var(--color-headings) blend(color(var(--color-primary)) 20%));
  border-bottom: 1px solid color(var(--color-primary) l(+15%));
  width: 100%;
  z-index: -1;
}

.brand a {
  color: color(var(--color-headings) blend(color(var(--color-primary)) 20%));
  text-decoration: none;
  text-shadow: 0 1px 0 color(var(--color-primary) l(+15%));
  font-size: 3.5rem;
}

.copyright {
  display: block;
  width: 45%;
  float: left;
}

.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}

.main-menu > ul {
  display: inline;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-weight: 700;
  font-size: 1.75rem;
}

.main-menu > ul + ul {
  float: right;
}

.main-menu .menu-item {
  display: inline-block;
  margin-right: 1rem;
}

.main-menu .menu-item:last-child {
  margin-right: 0;
}

.main-menu .menu-item > a {
  height: 1.25em;
  text-decoration: none;
  font-family: var(--font-sans);
}

.main-menu .menu-item a:matches(.active, :hover) {
  text-decoration: underline;
}

.post {
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #ebf2f6 1px solid;
  word-wrap: break-word;
}

.post-header {
  margin-bottom: 3rem;
}

.post-title a {
  text-decoration: none;
}

@media (--xs-viewport) {
  .main-header, .content, .site-footer {
    padding: 0 5%;
  }
}

@media (--sm-viewport) {
  .main-header, .content, .site-footer {
    width: 80%;
    padding: 0 10%;
  }

  .main-header-background {
    position: sticky;
    margin-bottom: 8rem;
    top: 0;
    z-index: 1;
    height: 50px;
  }

  .brand {
    margin-top: 2em;
  }

  .brand a {
    font-size: 4rem;
    z-index: 1;
  }

  .main-menu {
    position: relative;
    bottom: 1.65rem;
  }

  .main-menu .menu-item {
    margin-right: 2rem;
  }

  .main-menu > ul {
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0.4rem;
  }

  .main-menu > ul + ul {
    right: 0;
  }
}

@media (--lg-viewport) {
  .main-header, .content, .site-footer {
    width: 60%;
  }

  .brand::after, .brand::after {
    bottom: 0.35rem;
  }

  .brand a {
    font-size: 5rem;
  }
}

/* old topaxi.ch */
dt { margin: .5em 0 .25em }
dt::after { content: ':' }
dd > a, dd > a:link { text-decoration: none }
dd > a:hover { text-decoration: underline }
