@import 'prism.css';
@import 'default.css';
@import 'fonts.css';

.main-header, .main-header-content, .content, .site-footer {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 3%;
}

.main-header-background {
  background: #fff;
  margin-bottom: 5rem;
}

.main-header-content {
  text-align: center;
}

.site-footer {
  color: #bbc7cc; /* TODO: Remove from ghost theme */
  font-size: 1.25rem;
}

/* TODO: Remove from ghost theme */
.site-footer a {
  text-decoration: none;
  font-weight: 700;
}

.brand {
  text-align: center;
  position: relative;
  margin: 1em 0 0.2em;
  z-index: 0;
}

.brand::before, .brand::after {
  bottom: 0.25rem;
}

/*
.brand::before {
  content: '';
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/

.brand::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 1px solid color(var(--color-headings) blend(color(var(--color-primary)) 20%));
  border-bottom: 1px solid color(var(--color-primary) l(+15%));
  width: 100%;
  z-index: -1;
}

.brand a {
  color: color(var(--color-headings) blend(color(var(--color-primary)) 20%));
  text-decoration: none;
  text-shadow: 0 1px 0 color(var(--color-primary) l(+15%));
  font-size: 3.5rem;
}

.copyright {
  display: block;
  width: 45%;
  float: left;
}

.poweredby {
  display: block;
  width: 45%;
  float: right;
  text-align: right;
}

.main-menu > ul {
  display: inline;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  font-weight: 700;
  font-size: 1.75rem;
}

.main-menu > ul + ul {
  float: right;
}

.main-menu .menu-item {
  display: inline-block;
  margin-right: 1rem;
}

.main-menu .menu-item:last-child {
  margin-right: 0;
}

.main-menu .menu-item > a {
  height: 1.25em;
  text-decoration: none;
  font-family: var(--font-sans);
}

.font-sans--loaded .main-menu .menu-item > a {
  font-family: var(--font-sans-custom);
}

.main-menu .menu-item a:matches(.active, :hover) {
  text-decoration: underline;
}

.post {
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #ebf2f6 1px solid;
  word-wrap: break-word;
}

/* TODO: Remove from ghost theme */
.adsbygoogle, .post {
  position: relative;
  max-width: 710px;
  display: block;
}

/* TODO: Remove from ghost theme */
.post::after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid rgb(231, 238, 242);
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: rgb(255, 255, 255) 0 0 0 5px;
}

/* TODO: Remove from ghost theme */
.post-excerpt p {
  margin: 0;
  font-size: .9em;
  line-height: 1.7em;
}

.post--empty .post-excerpt {
  font-size: .9em;
  height: 1.7em;
}

.post--empty .post-title::before {
  content: '\a0';
}

/* TODO: Remove from ghost theme */
.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%;
}

/* TODO: Remove from ghost theme */
.post-meta {
  display: block;
  margin: 1.75rem 0 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgb(158, 171, 179);
}

/* TODO: Remove from ghost theme */
.post-meta a {
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

/* TODO: Remove from ghost theme */
.post-date {
  display: inline-block;
  margin-left: 8px;
  padding-left: 12px;
  border-left: 1px solid rgb(213, 219, 222);
  text-transform: uppercase;
  font-size: 1.3rem;
  white-space: nowrap;
}

.post-header {
  margin-bottom: 3rem;
}

.post-title a {
  text-decoration: none;
}

.badge-list {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 2rem;
}

.badge {
  width: 42px;
  height: 42px;
  margin: 0;
  filter: grayscale(75%);
  transition: 0.5s filter;
}

.badge:hover {
  filter: none;
}

.badge > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge--github {
  background-color: #181717;
}

.badge--twitter {
  background-color: #55ACEE;
}

.badge--googleplus {
  background-color: #DC4E41;
}

.badge--lastfm {
  background-color: #D51007;
}

@media (--xs-viewport) {
  .main-header, .content, .site-footer {
    padding: 0 5%;
  }

  .brand::after {
    border-top-width: 2px;
  }
}

@media (--sm-viewport) {
  .main-header, .content, .site-footer {
    width: 80%;
    padding: 0 10%;
  }

  .main-header-background {
    position: sticky;
    margin-bottom: 8rem;
    top: 0;
    z-index: 1;
    height: 5.4rem;
  }

  .brand {
    margin: 2em 0 0.5em;
  }

  .brand a {
    font-size: 4rem;
    z-index: 1;
  }

  .main-menu {
    position: relative;
    bottom: 1.65rem;
  }

  .main-menu .menu-item {
    margin-right: 2rem;
  }

  .main-menu > ul {
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0.4rem;
  }

  .main-menu > ul + ul {
    right: 0;
  }
}

@media (--lg-viewport) {
  .main-header, .content, .site-footer {
    width: 70%;
  }

  .brand::after, .brand::after {
    bottom: 0.35rem;
  }

  .brand a {
    font-size: 5rem;
  }
}

@media (--xl-viewport) {
  .main-header, .content, .site-footer {
    width: 60%;
  }
}
