/* Screen sizes */
:root {
 --screen-xs-min:  480px;
 --screen-sm-min:  768px;
 --screen-md-min:  992px;
 --screen-lg-min: 1200px;
 --screen-xl-min: 1440px;
}

@custom-media --xs-viewport only screen and (min-width:  480px);
@custom-media --sm-viewport only screen and (min-width:  768px);
@custom-media --md-viewport only screen and (min-width:  992px);
@custom-media --lg-viewport only screen and (min-width: 1200px);
@custom-media --xl-viewport only screen and (min-width: 1440px);

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:root {
  --color-primary: rgb(28, 77, 70);
  --color-headings: rgb(42, 42, 42);

  --font-serif: serif;
  --font-sans: sans-serif;
  --font-heading: sans-serif;
  --font-mono: Consolas, monospace, sans-serif;

  --font-serif-custom: Lora, serif;
  --font-sans-custom: 'PT Sans', sans-serif;
  --font-heading-custom: 'PT Sans Caption', sans-serif;
  --font-mono-custom: Consolas, monospace, sans-serif;
}

* {
  hyphens: auto;
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

html {
  font-family: var(--font-sans);
  color: rgb(56, 66, 69);
  font-size: 62.5%;
  overflow-y: scroll;
  height: 100%;
}

html.font-sans--loaded {
  font-family: var(--font-sans-custom);
}

body {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.75em;
  background: #fff;
  /*min-height: 100%;*/
}

:--headings {
  font-family: var(--font-heading);
  color: var(--color-headings);
  line-height: 1.15;
  text-rendering: geometricprecision;
  margin: 0 0 0.4em;
}

.font-heading--loaded :--headings {
  font-family: var(--font-heading-custom);
}

h1 {
  font-size: 5rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2rem;
}

a {
  transition: color 0.3s ease;
  text-decoration: underline;
}

a, a:visited, a:link {
  color: var(--color-primary);
}

a:hover {
  color: color(var(--color-primary) l(+10%));
  text-decoration: underline;
}

::selection {
  background-color: color(var(--color-primary) tint(20%) a(60%));
}

p, ul, ol, dl {
  font-feature-settings: "liga", "onum", "kern";
  font-family: var(--font-serif);
  margin: 0 0 1.75em;
  text-rendering: geometricprecision;
}

.font-serif--loaded :matches(p, ul, ol, dl) {
  font-family: var(--font-serif-custom);
}

ol, ul {
  padding-left: 3rem;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

li {
  margin: 0.4em 0;
}

li li {
  margin: 0;
}

code, kbd, pre, samp {
  font-family: var(--font-mono-custom);
  font-size: 1em;
}

pre {
  margin: 0 0 1.75em;
  border: 1px solid rgb(227, 237, 243);
  width: 100%;
  padding: 10px;
  font-family: var(--font-mono-custom);
  font-size: 0.9em;
  white-space: pre-wrap;
  overflow: auto;
  background: rgb(247, 250, 251) none repeat scroll 0% 0%;
  border-radius: 3px;
}

code, tt {
  padding: 1px 3px;
  font-family: var(--font-mono-custom);
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid rgb(227, 237, 243);
  background: rgb(247, 250, 251) none repeat scroll 0% 0%;
  border-radius: 2px;
}

pre code, pre tt {
  font-size: inherit;
  background: none;
  border: none;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
}

blockquote {
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
  border-left: #4a4a4a 0.4em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: 700;
}

blockquote cite a {
  font-weight: normal;
}

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }

  .post {
    font-size: 0.95em
  }

  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }

  hr {
    margin: 2.4em 0;
  }

  ol, ul {
    padding-left: 2em;
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 500px) {
  p, ul, ol, dl {
    font-size: 0.95em;
    margin: 0 0 2.5rem 0;
  }

  hr {
    margin: 1.75em 0;
  }

  h1, h2, h3,
  h4, h5, h6 {
    margin: 0 0 0.3em 0;
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.4rem;
    letter-spacing: 0;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5, h6 {
    font-size: 1.8rem;
  }

  body:not(.post-template) .post-title {
    font-size: 2.5rem;
  }
}
