/* Screen sizes */
:root {
 --screen-xs-min:  480px;
 --screen-sm-min:  768px;
 --screen-md-min:  992px;
 --screen-lg-min: 1200px;
 --screen-xl-min: 1440px;
}

@custom-media --xs-viewport only screen and (min-width:  480px);
@custom-media --sm-viewport only screen and (min-width:  768px);
@custom-media --md-viewport only screen and (min-width:  992px);
@custom-media --lg-viewport only screen and (min-width: 1200px);
@custom-media --xl-viewport only screen and (min-width: 1440px);

:root {
  --color-primary: rgb(92, 155, 169);
  --color-headings: rgb(42, 42, 42);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Lora, serif;
  color: rgb(56, 66, 69);
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-headings);
  line-height: 1.15;
  text-rendering: geometricprecision;
  margin: 0 0 0.4em;
}

a, a:visited, a:link {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: color(var(--color-primary) tint(20%) a(60%));
}

p, ul, ol, dl {
  font-feature-settings: "liga", "onum", "kern";
  margin: 0 0 1.75em;
  text-rendering: geometricprecision;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  margin: 0 0 1.75em;
  border: 1px solid rgb(227, 237, 243);
  width: 100%;
  padding: 10px;
  font-family: Consolas, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre-wrap;
  overflow: auto;
  background: rgb(247, 250, 251) none repeat scroll 0% 0%;
  border-radius: 3px;
}

code, tt {
  padding: 1px 3px;
  font-family: Consolas, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: 1px solid rgb(227, 237, 243);
  background: rgb(247, 250, 251) none repeat scroll 0% 0%;
  border-radius: 2px;
}

pre code, pre tt {
  font-size: inherit;
  background: none;
  border: none;
  padding: 0;
}
