@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTN77F-webfont.eot');
    src: url('PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTN77F-webfont.woff2') format('woff2'),
         url('PTN77F-webfont.woff') format('woff'),
         url('PTN77F-webfont.ttf') format('truetype'),
         url('PTN77F-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

