<div class="portfolio">
  {{outlet}}

  <aside>
    <h3>Projects</h3>
    {{#each model as |project|}}
      <article class="aside-portfolio">
        <figure>
          {{#link-to 'portfolio.project' project}}
            <img src={{project.thumbnail}} width="128" alt={{project.name}}>
          {{/link-to}}
        </figure>
      </article>
    {{/each}}
  </aside>
</div>
