<div class="portfolio">
  {{outlet}}

  <aside>
    <h3>Projects</h3>
    {{#each model as |project|}}
      <article class="aside-portfolio">
        <figure>
          {{#link-to 'portfolio.project' project}}
            <img src="/assets/pictures/portfolio/{{project.slug}}/thumbnail.png" width="128" alt="{{screenshot.alt}}">
          {{/link-to}}
        </figure>
      </article>
    {{/each}}
  </aside>
</div>
