<article class="typeset post">

  <header class="post-header">
    <h1 class="post-title">About Me</h1>
  </header>

  <section class="post-content">
    <p>My name is Damian Senn. I'm a 25-year old web developer from Switzerland.</p>

    <p>I'm currently working for <a href="https://adfinis-sygroup.ch">Adfinis SyGroup AG</a> as a software engineer.</p>

    <p>My interests are mainly in web technologies like JavaScript, HTML and CSS, but I'm generally interested in all kinds of computer stuff.</p>

    <p>You can follow me on twitter <a href="https://twitter.com/topaxi">@topaxi</a> and on google plus <a href="https://plus.google.com/+DamianSenn/posts">+DamianSenn</a></p>

    <figure>
      <img src="assets/pictures/sleepy-topcatinja__dark-eyes.png" alt="Sleepy topaxi">
      <figcaption>Artwork by the most awesome human being <a href="https://www.instagram.com/sarah_therad/">Sarah</a></figcaption>
    </figure>
  </section>

</article>
