<header>
  <h1 class="brand">
    {{#link-to 'index'}}topaxi.ch{{/link-to}}
  </h1>

  <nav class="main-menu">
    <ul>
      <li class="menu-item">
        {{#link-to 'index'}}Home{{/link-to}}
      </li>
      <li class="menu-item">
        <a href="https://topaxi.codes/">Blog</a>
      </li>
    </ul>
    <ul>
      <li class="menu-item">
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
</header>
<main>{{outlet}}</main>
<footer>
</footer>
