<h4>Latest blog post</h4>

{{#if model}}
  {{model}}
{{else}}
  <article class="post tag-ember-js tag-ember-cli tag-css">
    <header class="post-header">
      <h2 class="post-title"></h2>
    </header>
    <section class="post-excerpt"></section>
    <footer class="post-meta">
      <img class="author-thumb" src="//www.gravatar.com/avatar/1fee136e557e3d84277a2741d6d08d25?s=250&amp;d=mm&amp;r=x" alt="Damian Senn" nopin="nopin">
      <a href="https://topaxi.codes/author/damian/">Damian Senn</a>
    </footer>
</article>
{{/if}}


<h4>Find me on</h4>

<dl class="badge-list" itemscope itemtype="https://schema.org/Person">
  <dt hidden>Name</dt>
  <dd hidden itemprop="name">Damian Senn</dd>

  <dt hidden>Blog</dt>
  <dd hidden>
    <a href="https://topaxi.codes/" itemprop="url">topaxi.codes</a>
  </dd>

  <dt hidden>Twitter</dt>
  <dd class="badge badge--twitter">
    <a href="https://twitter.com/topaxi" itemprop="url">
      <img src="/assets/pictures/simpleicons/twitter.svg" alt="Twitter" width="32" height="32">
      <span hidden>@topaxi</span>
    </a>
  </dd>

  <dt hidden>Code</dt>
  <dd class="badge badge--github">
    <a href="https://github.com/topaxi" itemprop="url">
      <img src="/assets/pictures/simpleicons/github.svg" alt="Github" width="32" height="32">
      <span hidden>github.com/topaxi</span>
    </a>
  </dd>
  <dd class="badge badge--npmjs">
    <a href="https://www.npmjs.com/~topaxi" itemprop="url">
      <img src="/assets/pictures/npmjs.svg" alt="Github" width="32" height="32">
      <span hidden>npmjs.com/~topaxi</span>
    </a>
  </dd>

  <dt hidden>Work</dt>
  <dd class="badge badge--adsy">
    <a href="https://adfinis-sygroup.ch/" itemprop="url">
      <img src="/assets/pictures/adsy.png" alt="Adfinis SyGroup AG" width="32" height="32">
      <span hidden>adfinis-sygroup.ch</span>
    </a>
  </dd>

  <dt hidden>Google+</dt>
  <dd class="badge badge--googleplus">
    <a href="https://google.com/+DamianSenn" itemprop="url">
      <img src="/assets/pictures/simpleicons/googleplus.svg" alt="Google Plus" width="32" height="32">
      <span hidden>+DamianSenn</span>
    </a>
  </dd>

  <dt hidden>Music</dt>
  <dd class="badge badge--lastfm">
    <a href="https://last.fm/user/topaxci" itemprop="url">
      <img src="/assets/pictures/simpleicons/lastfm.svg" alt="Last.fm" width="32" height="32">
      <span hidden>last.fm/user/topaxci</span>
    </a>
  </dd>
</dl>
