<dl itemscope itemtype="https://schema.org/Person">
  <dt hidden>Name</dt>
  <dd hidden itemprop="name">Damian Senn</dd>

  <dt hidden>Blog</dt>
  <dd hidden>
    <a href="https://topaxi.codes/" itemprop="url">topaxi.codes</a>
  </dd>

  <dt>Code</dt>
  <dd>
    <a href="https://github.com/topaxi" itemprop="url">github.com/topaxi</a>
  </dd>
  <dd>
    <a href="https://www.npmjs.com/~topaxi" itemprop="url">npmjs.com/~topaxi</a>
  </dd>

  <dt>Twitter</dt>
  <dd>
    <a href="https://twitter.com/topaxi" itemprop="url">@topaxi</a>
  </dd>

  <dt>Google+</dt>
  <dd>
    <a href="https://google.com/+DamianSenn" itemprop="url">+DamianSenn</a>
  </dd>

  <dt>Music</dt>
  <dd>
    <a href="https://last.fm/user/topaxci" itemprop="url">last.fm/user/topaxci</a>
  </dd>

  <dt>Work</dt>
  <dd>
    <a href="https://adfinis-sygroup.ch/" itemprop="url">adfinis-sygroup.ch</a>
  </dd>
</dl>
