<h3>Page not found</h3>

<div>
  <h4>Ooops...</h4>

  <p>
    <img src="/assets/pictures/404.svg" height="400" style="max-width:72vw" alt="The requested page could not be found.">
  </p>

  {{#link-to 'index'}}Back to topaxi.ch{{/link-to}}
</div>
